<h1>NEW</h1>
<br>
<br>
<br>
<div class="container mt-4">
  <%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>

  <%= f.submit %>
  <% end %>
  <%= link_to 'âŽ Back', root_path %>
</div>


