
<!-- ingredient + description -->

<br>
<br>
<br>
<br>
<div class="container mt-4">
<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :description %>
<%= f.association :ingredient %>

<%= f.submit %>
<% end %>
<%= link_to 'âŽ Back', root_path %>
</div>

